@model WebDeneme2.Models.CalisanViewModel

@{
    Layout = "/Views/Shared/_Layout3.cshtml";
    ViewData["Title"] = "Çalışan İşleri";
}


<div class="CalisanIsler">

    <h2>@Model.Calisan.Ad @Model.Calisan.Soyad - İşleri</h2>



    @if (Model.Calisan.Randevular.Any(r => r.RandevuTarihi >= DateTime.Now) && Model.Calisan.Randevular.Any(r => r.RandevuDurum == "Onay"))
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Randevu Tarihi</th>
                    <th>Müşteri</th>
                    <th>Yapılacak İş</th>
                    <th>Süre</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var randevu in Model.Calisan.Randevular)
                {
                    <tr>
                        <td>@randevu.RandevuTarihi.ToString("dd/MM/yyyy HH:mm")</td>
                        <td>@randevu.Musteri?.Ad @randevu.Musteri?.Soyad</td>
                        <td>@randevu.Hizmet?.Ad</td>
                        <td>@randevu.Hizmet?.Sure</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p style="color:black;">Henüz herhangi bir işiniz bulunmamaktadır.</p>
    }


</div>

